.map {
  width: 100%;
  height: 93vh;
}

.map-controls-button {
  position: fixed;
  left: 50%;
  bottom: 0.5em;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.companyName {
  font-size: 150%;
}

.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: lightskyblue;
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sideNav-container{
  padding: 5px;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}

.center-icon {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.mat-text-center {
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}
